/* changes the focus of the page  */
*:focus{
    outline: 0;
}
/* hide the options on the page  */
.hidden{
    display: none;
}

/* configurations of the class named page  */
.page{
    position:absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0%;
    display: none;
}

/* configurations of the class named page-active  */
.page-active{
    display: block;
}

/* configurations of the object with the id named map  */
#map {
    height: 400px;
    width: 100%;
}

/* configurations of the object with the id named loginpage  */
#loginpage{
    background:url(../img/ice-2025937_1920.jpg);
    background-size: cover;
    
}

/* configurations of the object with the id named userpage  */
#userpage{
    background:url(../img/ice-2025937_1920.jpg);
    background-size: cover;
}

/* configurations of the object with the id named registerpage  */
#registerpage{
    background:url(../img/ice-2025937_1920.jpg);
    background-size: cover;
    
    
}
/* configurations of the class named navbar  */
.navbar{
    background:#34495e;
    width: 100%;
    height: 55px;
    color: white;
    text-align: center;
}

/* configurations of the class named navbar span */
.navbar span{
    font-size: 17px;
    line-height: 55px;
    font-weight: bold;
   
}

/* configurations of the class named painel-login */
.painel-login{
    width: 80%;
    background: rgba(3,1,1, 0);
    margin: 20px auto;
    padding:20px 5%;
    border-radius: 5px;
    margin-left: 13%;
}

/* configurations of the class named form-login */
.form-login{
    width: 90%;
    margin-bottom: 10px;
    padding: 10px 5%;
    border:1px solid #bbb;
    border-radius: 5px;
    align-self:center;
}

/* configurations of the class named login-header */
.login-header{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 15px;

}

/* configurations of the html and body */
html, body{
    margin:0px;
    padding: 0px;
 }

 /* configurations of the class named btn */
 .btn{
    width: auto;
    padding: 10px 25px;
    border:0;
    border-radius: 2px;
    text-transform: uppercase;
 }

 /* configurations of the class named .btn-primary */
 .btn-primary{
     background: #9383c5;
     color: white;
     padding-left: 30px;
 }

 /* configurations of the class named btn-success */
 .btn-success{
     background: #309843;
     color: white;
 }

 /* configurations of the class named .btn-footer */
 .btn-footer{
     position:fixed;
     width: 100%;
     padding: 15px 0px;
     text-align: center;
     background: #222;
     color: white;
     bottom: 0;
     border:0;
     text-transform: uppercase;
 }

 /* configurations of the class named list */
 .list{
     list-style-type: none;
     padding: 0;
     background:url(../img/milky-way-2675322_1920.jpg);
     color:white;
 }

 /* configurations of the class named .item-list */
 .item-list{
     display: block;
     padding: 15px;
     border-bottom: 2px solid rgb(26, 24, 24);
 }

 /* configurations of the object with the id named Foo  */
#Foo{
    align="center";
    padding: 15px 15px;
}


